
div{
    position: relative;
    width: 400px;
    border: 2px solid black;
    border-radius: 12px;
    margin: 0px auto;
    padding: 20px 5px 50px 20px;
}
input[type=button] {
    background: lightGray;
    width: 90%;
    font-size: 20px;
    font-weight: 900;
    border-radius: 7px;
    margin-left: 13px;
    margin-top: 10px;
    transition: .2s ease-in-out;
}
input[type=button]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
input[type=button]:hover {
    background-color: lightseagreen;
    color: white;
}

input[type = text] {
    position: relative;
    display: block;
    width: 80%;
    margin: 5px auto;
    font-size: 20px;
    padding: 10px;
    box-shadow: 2px 0px 8px black inset;
}